.card {
    background-color: var(--surface);
    color: var(--on-surface);
}

.card-lg {
    border-radius: var(--radius-28);
    padding: 20px;
}

.card-sm {
    border-radius: var(--radius-16);
    padding: 16px;
}

.heading {
    color: var(--white);
    font-size: var(--heading);
    line-height: 1.1;
}

.title-1 {
    font-size: var(--title-1)
}

.title-2 {
    font-size: var(--title-2);
    margin-block-end: 12px;
}

.title-3 {
    font-size: var(--title-3);
    font-weight: var(--weight-semiBold);
}

.body-1 {
    font-size: var(--body-1);
}

.body-2 {
    font-size: var(--body-2);
    font-weight: var(--weight-semiBold);
}

.body-3 {
    font-size: var(--body-3);
}

.label-1 {
    font-size: var(--label-1);
}

.label-2 {
    font-size: var(--label-2);
}

.fade-in {
    animation: fade-in 250ms ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

main {
    height: calc(100vh - 80px);
    height: calc(100svh - 80px);
    overflow: hidden;
}

article.container {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
    height: 100%;
    overflow-y: auto;
    overflow-y: overlay;
}

article.container::webkit-scrollbar-thumb {
    background-color: transparent;
}

article.container:is(hover, :focus-within)::-webkit-acrollbar-thumb {
    background-color: var(--white-alpha-8);
}

.article.container::-webkit-scrollbar-button {
    height: 10px;
}

article.container::before {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: var(--gradient-1);
    pointer-events: none;
    z-index: 1;
}

.section:not(:last-child) {
    margin-block-end: 16px;
}

.current-weather-card .weapper {
    margin-block: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.current-weather-card .weather-icon {
    margin-inline: auto;
}

.current-weather-card>.body-3 {
    text-transform: capitalize;
}

.current-weather-card .meta-list {
    margin-block-start: 16px;
    padding-block-start: 16px;
    border-block-start: 1px solid var(--outline);
}

.current-weather-card .meta-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.current-weather-card .meta-item:not(:last-child) {
    margin-block-end: 12px;
}

.current-weather-card .meta-text {
    color: var(--on-surface-variant);
}

.forecast-card .title-2 {
    margin-block-end: 0;
}

.forecast-card :is(.card-item, .icon-wrapper) {
    display: flex;
    align-items: center;
}

.forecast-card .card-item:not(:last-child) {
    margin-block-end: 12px;
}

.forecast-card .icon-wrapper {
    gap: 8px;
}

.forecast-card .label-1 {
    color: var(--on-surface-variant);
    font-weight: var(--weight-semiBold);
}

.forecast-card .card-item>.label-1 {
    width: 100%;
    text-align: right;
}

.highlights .m-icon {
    font-size: 3.2rem;
}

.highlight-list {
    display: grid;
    gap: 20px;
}

.highlight-list .title-3 {
    color: var(--on-surface-variant);
    margin-block-end: 20px;
}

.highlights .card-sm {
    background-color: var(--black-alpha-10);
    position: relative;
}

.highlight-card :is(.wrapper, .card-list, .card-item) {
    display: flex;
    align-items: center;
}

.highlight-card .wrapper {
    justify-content: space-between;
    gap: 16px;
}

.highlight-card .card-list {
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 8px;
}

.highlight-card .card-item {
    width: 50%;
    justify-content: flex-end;
    gap: 4px;
}

.highlight-card .label-1 {
    color: var(--on-surface-variant);
}

.badge {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 2px 12px;
    border-radius: var(--radius-pill);
    font-weight: var(--weight-semiBold);
    cursor: help;
}

.badge.aqi-1 {
    background-color: var(--bg-aqi-1);
    color: var(--on-bg-aqi-1);
}

.badge.aqi-2 {
    background-color: var(--bg-aqi-2);
    color: var(--on-bg-aqi-2);
}

.badge.aqi-3 {
    background-color: var(--bg-aqi-3);
    color: var(--on-bg-aqi-3);
}

.badge.aqi-4 {
    background-color: var(--bg-aqi-4);
    color: var(--on-bg-aqi-4);
}

.badge.aqi-5 {
    background-color: var(--bg-aqi-5);
    color: var(--on-bg-aqi-5);
}

.highlight-card.two .card-item {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.highlight-card.two .label-1 {
    margin-block-end: 4px;
}

.slider-container {
    overflow: auto;
    margin-inline: -16px;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.slider-list {
    display: flex;
    gap: 12px;
}

.slider-list:first-child {
    margin-block-end: 16px;
}

.slider-list::before,
.slider-list::after {
    content: "";
    min-width: 4px;
}

.slider-item {
    min-width: 110px;
    flex: 1 1 100%;
}

.slider-card {
    text-align: center;
}

.slider-item .weather-icon {
    margin-inline: auto;
    margin-block: 12px;
}